{
  "tailwindConfig": "./tailwind.config.ts",
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "endOfLine": "lf",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
