@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html,
  body {
    @apply font-ruda;
  }

  body {
    @apply flex flex-col w-full min-h-screen;
  }

  .gradient {
    background-image: linear-gradient(90deg, #ff8254 0%, #ffb856 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .gradient:disabled {
    background: rgba(234, 234, 234, 1);
  }

  .gradient::after {
    background: linear-gradient(90deg, #dc734c 0%, #dc9f4e 100%);
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .gradient::before {
    background: linear-gradient(90deg, #b86444 0%, #b88745 100%);
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .gradient:hover::after {
    opacity: 1;
  }

  .gradient:active::before {
    opacity: 1;
  }

  .title {
    @apply text-[56px] font-[700] leading-[68.15px];
  }

  .title-min {
    @apply text-[40px] font-[700] leading-[40px];
  }

  .h1 {
    @apply text-[32px] font-[700] leading-[32px];
  }

  .h2 {
    @apply text-[24px] font-[700] leading-[30px];
  }

  .t1 {
    @apply text-[24px] font-[700] leading-[24px];
  }

  .t2 {
    @apply text-[20px] font-[400] leading-[24px];
  }

  .t3 {
    @apply text-[18px] font-[400] leading-[24px];
  }

  .t-xs {
    @apply text-[14px] font-[400] leading-[20px];
  }
}
